.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.section {
    max-height: 160px;
}

.btn-submit-personal {
    cursor: pointer;
    float: right;
}

.text-large {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width : 1;
}